{% extends 'index.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">

    <div>
        <h3>Browse Genres</h3>
        <hr>
        <div>
                <a href="{% url 'home' %}">All</a>
        </div>
        {% for genre in genres %}
            <div>
                <span>{{ genre.name }}</span>
            </div>
        {% endfor %}
    </div>

    <div>
{#        <a href="{% url '' %}">Add Movies</a>#}
        <div>
            {% for movie in movies %}
                <div>
                    <hr>
                    <span>{{ movie.name }}</span>
                    <h5>Date Released: {{ movie.year_released }}</h5>
                    <h5>Genre: {{ movie.genre }}</h5>
                    <h5>Duration: {{ movie.duration }} minutes</h5>
                    <h5>Rating: {{ movie.rating }}/5</h5>
                </div>
            {% endfor %}
        </div>
        </div>
</div>
{% endblock content %}